@tailwind base;
@tailwind components;
@tailwind utilities;

.main-sidebar .nav-pills .nav-link.active,
.main-sidebar .nav-pills .show > .nav-link {
	background-color: #d69a5d !important;
	color: #F5EBDD !important;
}

.main-sidebar .nav-pills .nav-link {
	color: #F5EBDD !important;
}

.navbar-item:hover {
	color: #F5EBDD !important;
	opacity: 70%;
}

.main-sidebar .nav-pills .nav-link.active .nav-icon,
.main-sidebar .nav-pills .show > .nav-link .nav-icon,
.main-sidebar .nav-pills .nav-link.active svg,
.main-sidebar .nav-pills .show > .nav-link svg {
	color: #F5EBDD !important;
	stroke: #F5EBDD !important;
}

/* Custom Utilities */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.animate-slide-up {
    animation: slideUp 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-spin-slow {
    animation: spin 3s linear infinite;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in-right {
    animation: slideInRight 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
